@import '../globals';

.about {
  background-color: $whiteColor;
  box-shadow: $shadow;
  padding: $freeSpace;
  flex-direction: column;

  h1 {
    margin-top: 0;
    font-size: 1.8em;
    margin-bottom: 0.8em;
  }

  p {
    font-size: 1.1em;
  }
}
