@import '../globals';

.post {
  background-color: $whiteColor;
  box-shadow: $shadow;
  padding: $freeSpace;
  flex-direction: column;
  margin-bottom: $freeSpace;

  h2 {
    margin-top: 0;
    font-size: 1.8em;
    margin-bottom: 0.8em;
  }

  p {
    font-size: 1.1em;
  }

  img {
    max-width: 100%;
    border: 3px solid $whiteColor;
    box-shadow: 0px 0px 10px 0px rgba($blackColor, 0.15);
  }

  ol {
    margin-left: $freeSpace * 2;
    margin-bottom: 1.3em;
  }
}
