@import '../globals';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $headerHeight;
  background-color: $whiteColor;
  z-index: 1000;
  box-shadow: $shadow;

  .container {
    justify-content: center;
    // background-color: lightgreen;
    .logo {
      background-image: url('../../public/img/logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 220px;
      height: $headerHeight;
      opacity: 0.9;
      margin-top: 1px;
      cursor: pointer;
    }
  }
}
