$blackColor: #333;
$whiteColor: #fff;
$primaryColor: #00adef;
$secondaryColor: #ef7d00;
$freeSpace: 15px;
$headerHeight: 52px;
$width: 600px;
$shadow: 0px 0px 25px 0px rgba($blackColor, 0.1);
$whiteOpacity: 0.91;
