@import 'globals';

@import 'scss/reset';
@import 'scss/typography';
@import 'scss/links';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'scss/grid';

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: $blackColor;
  background-color: lighten($blackColor, 77);
  padding-top: $headerHeight + $freeSpace;
  background-image: url('../public/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#root {
  flex: auto;
  display: flex;
  flex-direction: column;
}
