@import 'globals';

@import 'scss/reset';
@import 'scss/typography';
@import 'scss/links';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'scss/grid';

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  color: $blackColor;
  background-color: lighten($primaryColor, 47);
  padding-top: $headerHeight + $freeSpace;
}

#root {
  flex: auto;
  display: flex;
  flex-direction: column;
}
