button {
  background-color: $primaryColor;
  background: linear-gradient(lighten($primaryColor, 20), $primaryColor);
  color: $whiteColor;
  font-size: 1em;
  height: 34px;
  border: 0;
  padding: 0 $freeSpace;
  cursor: pointer;

  &:hover {
    background: linear-gradient(lighten($primaryColor, 15), $primaryColor);
  }
  &:active {
    background: linear-gradient($primaryColor, lighten($primaryColor, 10));
  }

  &.inverse {
    background-color: $whiteColor;
    background: linear-gradient(lighten($blackColor, 77), $whiteColor);
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }
}
